sample-n8n-workflows/02-document-collection-bot.json
{
  "name": "Document Collection Bot - Immigration",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "Schedule - Daily 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "={{ $env.GOOGLE_SHEET_ID }}",
        "range": "Clients!A:H",
        "options": {}
      },
      "name": "Get Active Clients",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "active"
            }
          ]
        }
      },
      "name": "Filter Active Clients",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const today = new Date();\nconst retainerDate = new Date($json.retainer_signed_date);\nconst daysSince = Math.floor((today - retainerDate) / (1000 * 60 * 60 * 24));\n\nreturn {\n  ...item,\n  daysSinceRetainer: daysSince,\n  missingDocs: [\n    !$json.passport_uploaded && 'passport',\n    !$json.education_uploaded && daysSince >= 3 && 'education documents',\n    !$json.work_history_uploaded && daysSince >= 5 && 'work history'\n  ].filter(Boolean)\n};"
      },
      "name": "Calculate Days & Missing Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.missingDocs.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Missing Docs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.daysSinceRetainer }}",
              "operation": "smaller",
              "value2": 3
            }
          ]
        }
      },
      "name": "Check Days Since",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.FROM_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "Reminder: Upload Your {{ $json.missingDocs[0] }}",
        "emailFormat": "html",
        "text": "Hi {{ $json.firstName }},\n\nQuick reminder to upload your {{ $json.missingDocs.join(', ') }}.\n\nUpload here: {{ $json.drive_folder_url }}\n\nThis helps us process your application faster!\n\nBest,\n[Your Name]"
      },
      "name": "Send Email Reminder (Day 1-3)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_id }}",
        "text": "⚠️ Missing Documents Alert\n\nHi {{ $json.firstName }}, you still need to upload:\n{{ $json.missingDocs.map(d => '• ' + d).join('\\n') }}\n\nUpload here: {{ $json.drive_folder_url }}\n\nDeadline approaching!"
      },
      "name": "Send Telegram Reminder (Day 3+)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 400],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": "={{ $env.GOOGLE_SHEET_ID }}",
        "range": "Clients!A{{ $json.row_number }}",
        "options": {
          "values": {
            "lastReminderDate": "={{ $now }}"
          }
        }
      },
      "name": "Update Sheet - Last Reminder",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Schedule - Daily 9am": {
      "main": [
        [
          {
            "node": "Get Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Clients": {
      "main": [
        [
          {
            "node": "Filter Active Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Clients": {
      "main": [
        [
          {
            "node": "Calculate Days & Missing Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Days & Missing Docs": {
      "main": [
        [
          {
            "node": "Has Missing Docs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Missing Docs?": {
      "main": [
        [
          {
            "node": "Check Days Since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Days Since": {
      "main": [
        [
          {
            "node": "Send Email Reminder (Day 1-3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Reminder (Day 3+)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Reminder (Day 1-3)": {
      "main": [
        [
          {
            "node": "Update Sheet - Last Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Reminder (Day 3+)": {
      "main": [
        [
          {
            "node": "Update Sheet - Last Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
